/* All Pages Start */

.navbar {
    background: rgb(65, 179, 163);
    background: linear-gradient(90deg, rgba(65, 179, 163, 1) 0%, rgba(195, 141, 158, 1) 72%);
    -webkit-box-shadow: 0px 21px 29px -8px rgba(65, 179, 163, 1);
    -moz-box-shadow: 0px 21px 29px -8px rgba(65, 179, 163, 1);
    box-shadow: 0px 21px 29px -8px rgba(65, 179, 163, 1);
}

.footer h3 {
    font-size: 16px;
}

#socialIcons {
    font-size: 20px;
}

#socialIcons a:link,
#socialIcons a:visited,
#socialIcons a:hover {
    color: black !important;
    text-decoration: none;
}

#sticky-footer {
    background-color: #85DCB0 !important;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}


/* All Pages End */

html {
    height: 100%;
    position: relative;
}

#header {
    /*   background-color: #E27D60;  */
    padding-top: 1%;
    background-color: #85DCB0;
    color: white;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 45px;
    -webkit-box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
}

.nameDiv {
    display: inline-block;
    margin-bottom: 5%;
}

.nameDiv h1 {
    text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
    background: -webkit-radial-gradient(white, #C38D9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name {
    font-size: 45px;
}

.portfolioDividerSub {
    width: 25%;
    border: 2px white solid;
}

.portfolioItemTitle a:link,
.portfolioItemTitle a:visited,
.portfolioItemTitle a:hover {
    text-decoration: none;
    color: white;
}

.portfolioCategory {
    font-family: 'Slabo 27px', serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 17px #17CE77;
}

.portfolioDividerMain {
    width: 50%;
    border: 2px #85DCB0 solid;
    margin-bottom: 3%;
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

body {
    background-color: #C38D9e;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

#portfolioItem {
    background-color: lightblue;
    height: 300px;
    border-radius: 5%;
}

#whiteSpace {
    height: 100px;
}

#avatarDiv {
    padding-bottom: 1%;
    padding-left: 2%;
}

#avatar {
    border-radius: 50%;
    height: 185px;
    margin-top: 2%;
    float: left;
}

.chefsCornerDiv {
    background-size: cover;
    background-image: url("../images/chefCorner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.budgetManagementDiv {
    background-size: cover;
    background-image: url("../images/budgetManagement.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.gearShopDiv {
    background-size: cover;
    background-image: url("../images/gearShop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.githubDiv {
    background-size: cover;
    background-image: url("../images/github.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.emptyDiv {
    background-size: cover;
    /*   background-image: url("../images/gearShop.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.portfolioItemTitle {
    text-align: center;
    font-size: 24px;
    color: White;
    width: auto;
    height: auto;
    display: inline-block;
    background-color: black;
    margin-top: 25%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5%;
    opacity: .6;
}


/* Home Page/ All Pages End */


/* About Page Start */

#aboutDiv h1 {
    font-family: 'Slabo 45px', serif;
    font-size: 60px;
    color: white;
}

#aboutDiv h2 {
    font-family: 'Slabo 45px', serif;
    font-size: 45px;
    color: white;
}


/* About Page End */


/* Contact Page Start */

#contactDirect {
    background-color: #85DCB0 !important;
    padding: 10px 10px 0 10px;
    text-align: center;
    height: 100px;
}

#contactBody h1 {
    color: rgb(65, 179, 163);
    background: -webkit-linear-gradient(#85DCB0, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contactBody form input,
#contactBody form textarea {
    background-color: #85DCB0;
}