html {
    height: 100%;
    position: relative;
}

.navbar {
    background: rgb(65, 179, 163);
    background: linear-gradient(90deg, rgba(65, 179, 163, 1) 0%, rgba(195, 141, 158, 1) 72%);
    -webkit-box-shadow: 0px 21px 29px -8px rgba(65, 179, 163, 1);
    -moz-box-shadow: 0px 21px 29px -8px rgba(65, 179, 163, 1);
    box-shadow: 0px 21px 29px -8px rgba(65, 179, 163, 1);
}

#header {
    /*   background-color: #E27D60;  */
    padding-top: 1%;
    background-color: #85DCB0;
    color: white;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 45px;
    -webkit-box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
}

.nameDiv {
    display: inline-block;
    margin-bottom: 5%;
}

.name {
    font-size: 45px;
}

.portfolioDividerSub {
    width: 25%;
    border: 2px white solid;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: white;
}

.portfolioCategory {
    font-family: 'Slabo 27px', serif;
    color: white;
    text-align: center;
}

.portfolioDividerMain {
    width: 50%;
    border: 2px #85DCB0 solid;
}

body {
    background-color: #C38D9e;
    height: 100%;
    position: relative;
}

#portfolioItem {
    background-color: lightblue;
    height: 300px;
    border-radius: 5%;
}

#whiteSpace {
    height: 100px;
}

#avatarDiv {
    padding-bottom: 1%;
    padding-left: 2%;
}

#avatar {
    border-radius: 50%;
    height: 185px;
    margin-top: 2%;
    float: left;
}

.chefsCornerDiv {
    background-size: cover;
    background-image: url("../images/chefCorner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.budgetManagementDiv {
    background-size: cover;
    background-image: url("../images/budgetManagement.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.gearShopDiv {
    background-size: cover;
    background-image: url("../images/gearShop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.emptyDiv {
    background-size: cover;
    /*   background-image: url("../images/gearShop.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.portfolioItemTitle {
    text-align: center;
    font-size: 24px;
    color: White;
    width: auto;
    height: auto;
    display: inline-block;
    background-color: black;
    margin-top: 25%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5%;
    opacity: .6;
}

.footer {
    background-color: #85DCB0;
    padding-top: .25rem;
    width: 100%;
    display: inline-block;
    font-size: 15px;
}

.footer h3 {
    font-size: 16px;
}

.contactSocials {
    font-size: 30px;
    margin-right: 1%;
    float: right;
    width: 10%;
}

#sticky-footer {
    flex-shrink: none;
    background-color: #85DCB0 !important;
}