.jumbotron {
    background-color: #d6d6f5;
    text-align: center;
    height: 200px;
}
#portfolioItem {
   background-color:lightblue;
   height: 300px;
   border-radius: 5%;
  
}
#whiteSpace {
    height: 100px;
}
footer {
    background-color: #d6d6f5;
    height: 50px;
    text-align: center;
    padding-top: 1%;
}
#avatarDiv {
 padding-bottom: 1%;  
 padding-left: 2%;
}
#avatar {
    border-radius: 50%;
   height: 185px;
  
   float: left;
}
#name {
    font-family: 'Monsalva', cursive;
   
    text-align: center;
    
}
.nameDiv {
    display: inline-block;
}
body {
    background-color: cornsilk;
}
.chefsCornerDiv {
    background-size: cover;
    background-image: url('../images/chefCorner2.jpg');
    background-repeat: no-repeat;
   background-position: center;
   z-index: -1;
}
.budgetManagementDiv {
    background-size: cover;
    background-image: url('../images/budgetManagement.jpg');
    background-repeat: no-repeat;
   background-position: center;
   z-index: -1;
}
.chefsCornerTitle {
    text-align: center;
    color: White;
    padding-top: 25%;
}
.budgetManagementTitle {
    text-align: center;
    color: black;
   font-size: 2rem;
  
    
}